
.home-slider {
    padding: 0;
}

.home-slider h5{
    font-size: 60px;
}

.home-slider p{
    font-size: 30px;
}

.carousel-caption {
    text-align: center;
}

.carousel-item {
    height: 30vh;
}



.asteriskField {
    display: none;
}


