<div class="footer py-3 bg-white">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url "home" %}" class="nav-link px-2 text-muted">Главная страница</a></li>
        <li class="nav-item"><a href="{% url "blog" %}" class="nav-link px-2 text-muted">Объявления</a></li>
        <li class="nav-item"><a href="{% url "contacts" %}" class="nav-link px-2 text-muted">Контакты</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Pavlov_And_Company, Inc</p>
</div>