<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a href="{% url 'home' %}" class="navbar-brand">
            <img src="https://rabota.by/employer-logo/3868504.png" width="55"
                 height="55"
                 alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active px-1 pt-2 h6">
                    <a href="{% url 'home' %}" class="nav-link">Главная</a>
                </li>
                <li class="nav-item px-1 pt-2 h6">
                    <a href="{% url 'blog' %}" class="nav-link">Каталог</a>
                </li>
                <li class="nav-item px-1 pt-2 h6">
                    <a href="{% url 'create_post' %}" class="nav-link">Добавить объявление</a>
                </li>
                <li class="nav-item px-1 pt-2 h6">
                    <a href="{% url 'contacts' %}" class="nav-link">Контакты</a>
                </li>
            </ul>
            <form action="{% url 'search_result' %}" method="get" class="form-inline my-2 my-lg-0">
                <input type="text" name="query" class="form-control mr-sm-2" placeholder="Найти объявление"
                       aria-label="Поиск">
                <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Поиск</button>
            </form>
            {% if user.is_authenticated %}
                <a href="{% url 'signout' %}" class="btn btn-outline-light">Выход</a>
                <span class="navbar-text text-white mr-4 ml-5">{{ user }}</span>
            {% else %}
                <a href="{% url 'signin' %}" class="btn btn-outline-light mr-2">Вход</a>
                <a href="{% url 'signup' %}" class="btn btn-outline-light mr-2">Регистрация</a>
            {% endif %}
        </div>
    </nav>
</div>